body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro{
    display:flex;
    color: #fff;
    height: 100vh;
    background:url(./thumb-1920-569815.jpg);
    background-size: cover;
}
.typing{
    position:relative;
    margin-left: 10px;
}
.typing::after{
    content: "";
    right:-5px;
    position:absolute;
    width: 1px;
    height: 5%;
    border-right: 2px solid #fff;
    animation:blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;

    }
}